################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Development/data/config - Copy.php
/Development/data/logs
/Development/application/logs
/Development/uploads
/Documents
/sidobkp
/Development/application/controllers/RevokeAccess.php
/Development/application/config/app-config.php
/Development/media
/Development/livezilla
/Development/assets/plugins/Croppie-master
/gateway/Stripe - copy.php
/gateway/Stripe_gateway - copy.php
/libraries/gateway/Paypal_gateway - copy.php
/libraries/gateway/Stripe_gateway - copy.php
/Development/uploads/addressbook_profile_images/16/index.html
/Development/uploads/addressbook_profile_images/16/small_1.jpg
/Development/uploads/addressbook_profile_images/16/thumb_1.jpg
/Development/uploads/addressbook_profile_images/18/index.html
/Development/uploads/addressbook_profile_images/18/small_8.jpg
/Development/uploads/addressbook_profile_images/18/thumb_8.jpg
/Development/uploads/addressbook_profile_images/19/index.html
/Development/uploads/addressbook_profile_images/19/small_2.jpg
/Development/uploads/addressbook_profile_images/19/thumb_2.jpg
/Development/uploads/addressbook_profile_images/20/index.html
/Development/uploads/addressbook_profile_images/20/small_1.jpg
/Development/uploads/addressbook_profile_images/20/thumb_1.jpg
/Development/uploads/addressbook_profile_images/3/index.html
/Development/uploads/addressbook_profile_images/3/small_12.png
/Development/uploads/addressbook_profile_images/3/thumb_12.png
/Development/uploads/addressbook_profile_images/30/index.html
/Development/uploads/addressbook_profile_images/30/small_11.jpg
/Development/uploads/addressbook_profile_images/30/thumb_11.jpg
/Development/uploads/addressbook_profile_images/31/index.html
/Development/uploads/addressbook_profile_images/31/small_2.jpg
/Development/uploads/addressbook_profile_images/31/thumb_2.jpg
/Development/uploads/addressbook_profile_images/6/index.html
/Development/uploads/addressbook_profile_images/6/small_11.jpg
/Development/uploads/addressbook_profile_images/6/thumb_11.jpg
/Development/uploads/addressbook_profile_images/7/index.html
/Development/uploads/addressbook_profile_images/7/small_13.png
/Development/uploads/addressbook_profile_images/7/thumb_13.png
/Development/uploads/lead_profile_images/14/index.html
/Development/uploads/lead_profile_images/14/small_user6.jpg
/Development/uploads/lead_profile_images/14/thumb_user6.jpg
/Development/uploads/lead_profile_images/17/index.html
/Development/uploads/lead_profile_images/17/small_4.jpg
/Development/uploads/lead_profile_images/17/thumb_4.jpg
/Development/uploads/lead_profile_images/19/index.html
/Development/uploads/lead_profile_images/19/small_8.jpg
/Development/uploads/lead_profile_images/19/thumb_8.jpg
/Development/uploads/lead_profile_images/index.html
/Development/uploads/staff_profile_images/1/index.html
/Development/uploads/staff_profile_images/1/small_6.jpg
/Development/uploads/staff_profile_images/1/thumb_6.jpg
/Development/uploads/staff_profile_images/21/index.html
/Development/uploads/staff_profile_images/21/small_13.png
/Development/uploads/staff_profile_images/21/thumb_13.png
/Development/uploads/staff_profile_images/26/index.html
/Development/uploads/staff_profile_images/26/small_8.jpg
/Development/uploads/staff_profile_images/26/thumb_8.jpg
/Development/uploads/staff_profile_images/27/index.html
/Development/uploads/staff_profile_images/27/small_4.jpg
/Development/uploads/staff_profile_images/27/thumb_4.jpg
/Development/uploads/staff_profile_images/29/index.html
/Development/uploads/staff_profile_images/29/small_2.jpg
/Development/uploads/staff_profile_images/29/thumb_2.jpg
/Development/uploads/staff_profile_images/8/index.html
/Development/uploads/staff_profile_images/8/small_4.jpg
/Development/uploads/staff_profile_images/8/thumb_4.jpg
/Development/uploads/tasks/12/2.jpg
/Development/uploads/tasks/12/2_thumb.jpg
/Development/uploads/tasks/12/4.jpg
/Development/uploads/tasks/12/4_thumb.jpg
/Development/uploads/tasks/12/index.html
/Development/uploads/tasks/13/2.jpg
/Development/uploads/tasks/13/2_thumb.jpg
/Development/uploads/tasks/13/4.jpg
/Development/uploads/tasks/13/4_thumb.jpg
/Development/uploads/tasks/13/index.html
/Development/uploads/tasks/2/3.jpg
/Development/uploads/tasks/2/3_thumb.jpg
/Development/uploads/tasks/2/6.jpg
/Development/uploads/tasks/2/6_thumb.jpg
/Development/uploads/tasks/2/index.html
/Development/uploads/tasks/3/11.jpg
/Development/uploads/tasks/3/11_thumb.jpg
/Development/uploads/tasks/3/3.jpg
/Development/uploads/tasks/3/3_thumb.jpg
/Development/uploads/tasks/3/7.jpg
/Development/uploads/tasks/3/7_thumb.jpg
/Development/uploads/tasks/3/index.html
/Development/uploads/tasks/5/1.jpg
/Development/uploads/tasks/5/11.jpg
/Development/uploads/tasks/5/11_thumb.jpg
/Development/uploads/tasks/5/1_thumb.jpg
/Development/uploads/tasks/5/3.jpg
/Development/uploads/tasks/5/3_thumb.jpg
/Development/uploads/tasks/5/6.jpg
/Development/uploads/tasks/5/6_thumb.jpg
/Development/uploads/tasks/5/index.html
/Development/uploads/tasks/6/1.jpg
/Development/uploads/tasks/6/13.png
/Development/uploads/tasks/6/13_thumb.png
/Development/uploads/tasks/6/1_thumb.jpg
/Development/uploads/tasks/6/3.jpg
/Development/uploads/tasks/6/3_thumb.jpg
/Development/uploads/tasks/6/6.jpg
/Development/uploads/tasks/6/6_thumb.jpg
/Development/uploads/tasks/6/index.html
